.container{
  background-color: antiquewhite;
  max-width: 400px;
  min-height: 450px;
  margin:0 auto;
  box-shadow: 3px 3px 3px lightslategray;
  padding:15px 50px;
}

.header{
  text-align: center;
}

.expense{
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 10px;
  box-shadow: 3px 3px 3px lightslategray;
}
.income-container{
  color: #06ad06f0;
  font-size: 2em;
}
.expense-container{
  color: red;
  font-size: 2em;
}
.Transaction-history{
  margin: 0;
  padding: 0;
}
.Transaction-history > li {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin:10px 0;
  padding: 7px;
  box-shadow: 3px 3px 3px lightslategray;
}

.Transaction-form input{
  width: 100%;
  margin: 10px 0;
  padding: 5px;
}